/* Google Font Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* default styles */
:root {
    --primary-color: #3A3A3A;
    --primary-btn-bg-color: #E02C6D;
    --white-color: #fff;
    --btn-hover-bg-color: #d12564;
    --dark-blue-color: #0A0826;
    --gray-color: #6C6C6C;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html {
    font-size: 62.5%;
}

/* common styles */
.btn-primary {
    border-radius: 4rem;
    background-color: var(--primary-btn-bg-color);
    border: 0;
    color: var(--white-color);
    font-size: 1.6rem;
    font-weight: 700;
    padding: 1rem 2.4rem;
    cursor: pointer;
    transition: all 0.4s;
}

.btn-primary:hover {
    background-color: var(--btn-hover-bg-color);
}

section {
    margin: 10rem 0;
}

.section-title {
    color: var(--primary-color);
    font-size: 2.8rem;
    font-weight: 600;
    line-height: 70px;
}

/* header and nav related styles */
header {
    padding: 8rem 12rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 3rem;
}

nav li a {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 1.6rem;
    font-weight: 600;
}

nav .nav-icon {
    display: flex;
}

.nav-title {
    color: var(--primary-color);
    font-size: 2.4rem;
    font-weight: 700;
}

/* banner styles here */
.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10rem;
    margin-top: 5rem;
}

.banner-content,
.banner-image {
    width: 48%;
}

.banner-content .banner-title {
    color: var(--primary-color);
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 7rem;
    margin-bottom: 1.6rem;
}

.banner-content .banner-description {
    color: var(--primary-color);
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 1.6rem;
}

.banner-content .btn-primary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.8rem;
}

.banner-image {
    position: relative;
    margin-top: 4rem;
}

.banner-image img:first-child {
    width: 40rem;
    margin-left: 3rem
}

.banner-image img:last-child {
    width: 47rem;
    position: absolute;
    left: 0;
    top: -3rem;
    z-index: -1;
}

/* main part styles */
main,
.footer-content {
    width: 83%;
    margin: 0 auto;
}

/* company logo section styles here */
.company-logos {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.company-logos .logo img {
    width: 100%;
}

/* Popular section styles */
.popular-collection .section-title {
    text-align: center;
    margin-bottom: 3rem;
}

.collection-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

.collection-cards .card {
    border-radius: 0.5rem;
    background: var(--white-color);
    box-shadow: 0rem 0rem 4rem 0rem rgba(0, 0, 0, 0.15);
    padding: 1.7rem 1.4rem;
}

.collection-cards .card img {
    width: 100%;
    object-fit: cover;
}

.collection-cards .card h2 {
    margin-bottom: 0.6rem;
    color: #18191F;
    font-size: 2.8rem;
    font-weight: 500;
    line-height: 40px;
    /* 142.857% */
}

.collection-cards .card h3 {
    color: rgba(0, 0, 0, 0.87);
    font-size: 24px;
    line-height: 150%;
    font-weight: 400;
    margin-bottom: 0.5rem;
}

.card .ratings {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.4rem;
    margin-bottom: 0;

    & .icons {
        color: #FB8200;
    }

    & p {
        color: #787885;
    }
}

.card .card-info {
    color: #787885;
    font-size: 14px;
    font-weight: 500;
    line-height: 143%;
    letter-spacing: 0.252px;
}

.see-more-btn {
    text-align: end;
    margin-top: 5rem;
    color: rgba(224, 44, 109, 0.87);
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

/* Featured section styles */
.featured-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.featured-image {
    width: 40%;
}

.featured-content {
    width: 55%;
}

.featured-image img {
    width: 100%;
}

.featured-content h2 {
    color: var(--dark-blue-color);
    font-size: 3.8rem;
    font-weight: 700;
    margin-bottom: 1.6rem;
}

.featured-content p {
    color: var(--gray-color);
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 2.8rem;
    margin-bottom: 1.6rem;
}

.featured-content .btn-primary {
    border-radius: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.8rem;

}

/* footer styles here */
footer {
    background: #0A0826;
    padding: 5rem 0;
}

.footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-content .section-title {
    color: var(--white-color);
}

.footer-content .footer-description {
    color: #D9DBE1;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2.4rem;
}

.footer-content .social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
    margin-top: 1.7rem;

    & i {
        width: 4.2rem;
        height: 4.2rem;
        color: var(--white-color);
        background-color: #22213C;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2.4rem;
        border-radius: 50%;
    }
}

/* Responsive media queries */
/* Mobile devices */
@media screen and (max-width: 576px) {
    header {
        padding: 3.5rem 1.6rem;
    }

    nav {
        flex-direction: column;
        gap: 2rem;
    }

    nav>ul {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        row-gap: 1rem;
    }

    .banner,
    .featured-container {
        flex-direction: column-reverse;
        /* gap: 7rem; */
    }

    .banner-content,
    .banner-image {
        width: 90%;
        text-align: center;
    }

    .banner-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .banner-content .banner-title {
        font-size: 2.8rem;
        line-height: normal;
    }

    .banner-image img:first-child {
        width: 80%;
    }

    .banner-image img:last-child {
        width: 100%;
    }

    section {
        margin: 4rem;
    }

    main {
        width: 95%;
    }

    .company-logos {
        flex-wrap: wrap;
        gap: 2rem;
    }

    .collection-cards {
        grid-template-columns: repeat(1, 1fr);
    }

    .featured-image,
    .featured-content {
        width: 100%;
        text-align: center;
    }

    .featured-content h2 {
        font-size: 2.4rem;
    }

    .btn-primary-container {
        display: flex;
        justify-content: center;
        margin-bottom: 3rem;
    }
}

/* Medium Devices */
@media screen and (min-width: 577px) and (max-width: 992px) {
    header {
        padding: 3.5rem 1.6rem;
    }

    nav {
        flex-direction: column;
        gap: 2rem;
    }

    nav>ul {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        row-gap: 1rem;
    }

    .banner,
    .featured-container {
        flex-direction: column-reverse;
    }

    .banner-content,
    .banner-image {
        width: 90%;
        text-align: center;
    }

    .banner-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5rem;
    }

    .banner-image img:first-child {
        width: 80%;
    }

    .banner-image img:last-child {
        width: 100%;
    }

    section {
        margin: 4rem;
    }

    main {
        width: 95%;
    }

    .company-logos {
        flex-wrap: wrap;
        gap: 2rem;
    }

    .collection-cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .featured-image,
    .featured-content {
        width: 100%;
        text-align: center;
    }

    .btn-primary-container {
        display: flex;
        justify-content: center;
        margin-bottom: 3rem;
    }
}