/* Google Font Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* default styles */
:root {
    --primary-color: #3A3A3A;
    --primary-btn-bg-color: #E02C6D;
    --white-color: #fff;
    --btn-hover-bg-color: #d12564;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html {
    font-size: 62.5%;
}

/* common styles */
.btn-primary {
    border-radius: 4rem;
    background-color: var(--primary-btn-bg-color);
    border: 0;
    color: var(--white-color);
    font-size: 1.6rem;
    font-weight: 700;
    padding: 1rem 2.4rem;
    cursor: pointer;
    transition: all 0.4s;
}

.btn-primary:hover {
    background-color: var(--btn-hover-bg-color);
}

/* header and nav related styles */
header {
    padding: 8rem 12rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 3rem;
}

nav li a {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 1.6rem;
    font-weight: 600;
}

nav .nav-icon{
    display: flex;
}

.nav-title {
    color: var(--primary-color);
    font-size: 2.4rem;
    font-weight: 700;
}

/* banner styles here */
.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10rem;
    margin-top: 5rem;
}

.banner-content,
.banner-image {
    width: 48%;
}

.banner-content .banner-title {
    color: var(--primary-color);
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 7rem;
    margin-bottom: 1.6rem;
}

.banner-content .banner-description {
    color: var(--primary-color);
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 1.6rem;
}
.banner-content .btn-primary{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.8rem;
}
.banner-image{
    position: relative;
    margin-top: 4rem;
}
.banner-image img:first-child {
    width: 40rem;
    margin-left: 3rem
}
.banner-image img:last-child {
    width: 47rem;
    position: absolute;
    left: 0;
    top: -3rem;
    z-index: -1;
}

/* Responsive media queries */
/* Mobile devices */
@media screen and (max-width: 576px){
    header{
        padding: 3.5rem 1.6rem;
    }
    nav{
        flex-direction: column;
        gap: 2rem;
    }

    nav>ul {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        row-gap: 1rem;
    }
    .banner{
        flex-direction: column-reverse;
        /* gap: 7rem; */
    }
    .banner-content,
    .banner-image {
        width: 90%;
        text-align: center;
    }
    .banner-content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .banner-content .banner-title{
        font-size: 2.8rem;
        line-height: normal;
    }
    .banner-image img:first-child{
        width: 80%;
    }
    .banner-image img:last-child{
        width: 100%;
    }
}